<div class="card" >
  <h4 class="card-header">Search Agent</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="search()" style="text-align:center">
      <div class="form-group">
          <input class="form-control" type="text" name="username" formControlName="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="area" formControlName="area" placeholder="Area">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="role" formControlName="role" placeholder="Role">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!searchForm.valid"><i class="fa fa-search"></i> Search</button>
      <button class="btn btn-primary" type="submit" (click)="addAgent();"><i class="fa fa-add"></i> Add Agent</button>
    </form>
    
  </div>
</div>

<div class="card">
    <h4 class="card-header">Agent List</h4>
    
    <ngx-datatable #table class="material" 
      [rows]='rows' 
      [columnMode]="'force'" 
      [loadingIndicator]="loading" 
      [headerHeight]="50" 
      [footerHeight]="50" 
      [rowHeight]="'auto'" 
      [scrollbarH]="true"

      [externalSorting]="false" 
      [externalPaging]="false"
      [limit]="10" 
      [sortType]="'multi'"
      (sort)="onSort($event)" 
      (page)="onPage($event)">

      <ngx-datatable-column name="UserName" headerClass="table-header" prop="firstName" >
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Area" headerClass="table-header" prop="area">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="PhoneNumber" headerClass="table-header" prop="phoneNumber" >
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Role" headerClass="table-header" prop="role">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
       <ngx-datatable-column name="Action"  headerClass="table-header"  sortable="false">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span class="actionIcon" (click)="editAgent(row)">
            <!-- <i class="fa fa-edit fa-fw"></i> -->
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </span>
           <span class="actionIcon"  (click)="viewAgent(row)">
            <!-- <i class="fa fa-edit fa-fw"></i> -->
            <i class="fa fa-eye" aria-hidden="true"></i>
          </span>
        </ng-template>
       
      </ngx-datatable-column>
      </ngx-datatable>
    
  </div>

